.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 100px 0px;
}

.container h1 {
  margin-top: 10px;
  font-size: 2rem;
}

.container p {
  font-size: 12px;
}
