.container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.controls {
  display: flex;
  align-items: center;
  margin: 1rem 0.5rem;
  padding: 1rem;
  margin-left: auto;
}

.controls label {
  margin-right: 0.5rem;
}

.controls select {
  margin-right: 1rem;
}

.reloadButton {
  cursor: pointer;
}

.movieList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.loading {
  text-align: center;
  margin: 2rem 0;
}
